body {
	background: #eeeeee;
}

.main-contents {
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFFACD;
	text-align: center;
}

.header {
	text-align: right;
}

.sort tr {
	border-spacing: 5px 1rem;
	background-color: white;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

.message .comment {
	border-spacing: 5px solid #CCCCCC;
	text-align: center;
}

.text {
	height: 40px;
}

.messages {
	border-spacing: 5px solid #CCCCCC;
}

.comment-area {
	margin-top: 5px;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	color: red;
}